<!DOCTYPE html>
 <html>
  <head>

   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Workshops</title>
   <link type="text/css" href="../style/Workshops.css" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
   <link rel="icon" href="">

  </head>

  <body>
	 <div class="container">

    <div class="box">
      <a href="../index.html" class="btn btn-white btn-animation-1"><img src="../image/back.png" width="30px"></a> 
    </div>

    <h1>Workshops</h1>

    <button class="accordion">Virtual & augmented reality</button>
     <div class="panel">
      <p><b>AR/VR</b> Making a banana in Unreal Engine</p>
      <img class="foto" src="../image/banana.jpg"><br/><br/>
      <video width="400px" controls>
       <source src="../image/Banana.mp4" type="video/mp4">
      </video>
      <h2></h2>A-Frame<br/><br/>
      <p><b>01, Hello World</b></p>
      	<p>De code van alle opdrachten is op deze <a href="https://rooshuber.github.io/A-Frame/">link</a> te vinden.</p>
      <p><b>02, Shapes</b><br/><br/>
      <img class="foto" src="../image/shapes.jpg">
      <p><b>03, Textures</b><br/><br/>
      <img class="foto" src="../image/texture.jpg">
      <p><b>04, Animations</b><br/><br/>
      <video width="400px" controls>
       <source src="../image/animation.mp4" type="video/mp4">
      </video>
      <p><b>05, Interaction</b><br/><br/>
      <video width="400px" controls>
       <source src="../image/interaction.mp4" type="video/mp4">
      </video>
      <p><b>Headset</b><br/><br/>
      <video width="400px" controls>
       <source src="../image/headset.mp4" type="video/mp4">
      </video>
     </div>


    <button class="accordion">Arduino</button>
     <div class="panel">
      <p><b>3: Blink multiple leds</b><br/><br/>First we had to make the led lamps blink at the same time and then alternating, which is what you can see in the video. </p>
      <video width="400px" controls>
       <source src="../image/blink.mp4" type="video/mp4">
      </video>
      
      <p><b>4: fade leds</b><br/><br/>In this exercise we had to make the led's fade in and out.</p>
      <video width="400px" controls>
       <source src="../image/fade.mp4" type="video/mp4">
      </video>

      <p><b>6: Controling a led with a potmeter</b><br/><br/>In this exercise we had to make the led's fade in and out by way of a potmeter.</p>
      <video width="400px" controls>
       <source src="../image/potmeter.mp4" type="video/mp4">
      </video>

      <p><b>7: led matrix</b><br/><br/>This was really cool, once you got the hang of it. We had to make the led matrix display something. </p>
      <video width="400px" controls>
       <source src="../image/smiley.mp4" type="video/mp4">
      </video>

      <p><b>8: Control led with light</b><br/><br/> In this exercise we had to make the led lights fade out with lack of light.</p>
      <video width="400px" controls>
       <source src="../image/light.mp4" type="video/mp4">
      </video>

      <p><b>9: Sound</b><br/><br/>What you hear below is a siren.</p>
      <video width="400px" controls>
       <source src="../image/siren.mp4" type="video/mp4">
      </video>
      <img class="foto" src="../image/9.jpg">

      <p><b>9: Sound 2.0</b> ANd a 90's car siren :)</p>
      <video width="400px" controls>
       <source src="../image/siren2.mp4" type="video/mp4">
      </video>

      <p><b>11: Distance</b><br/><br/>The result I should have gotten from this exercise is that the led light would blink if something came withing 50cm of the sensor. However, I couldn't manage to get it to work.</p>
      <img class="foto" src="../image/11.jpg">
      <img class="foto" src="../image/close.jpg">

      <p><b>12: Arduino & processing</b><br/><br/>What we should have been able to see here is a circle growing larger and smaller. Unfortunately, Java decided to be a little b*tch.</p>
      <img class="foto" src="../image/12.jpg" width="600px">

      <p><b>13: Buttons</b><br/><br/>If everything is in the right place, the led should switch on and off at the press of the button. I failed somewhere along the way, I just couldn't find where.</p>
      <video width="400px" controls>
       <source src="../image/13.mp4" type="video/mp4">
      </video>
      <img class="foto" src="../image/button.jpg" width="600px">
    

     <p><b>14: Servomotor</b><br/><br/>In this exercise we had to make the servo motor move in a different way than the standart sweep test. I made mine dance :)</p>
      <video width="400px" controls>
       <source src="../image/servo.mp4" type="video/mp4">
      </video>
      <img class="foto" src="../image/14.jpg" width="600px">
   
    </div>

    <button class="accordion">Computer vision</button>
     <div class="panel">
      <p>This week we're gonna look at computer vision with the help of the progam Processing. With code we'll be able to make shapes and animations. <br/><br/>
      <b>Exercise 2F</b> - 3 different circles<br/><br/>
      <img class="foto" src="../image/2F.jpg"><br/><br/>
      <b>Exercise 2I</b> - Different shapes<br/><br/>
      <img class="foto" src="../image/2I.jpg"><br/><br/>
      <b>Exercise 2O</b> - Mouse following<br/><br/>
      <img class="foto" src="../image/2O.jpg"><br/><br/>
      <b>Exercise 3B</b> - Processing & Arduino<br/><br/>
      Deze opdracht is mij helaas niet gelukt. Na een uur wou de sketch nog steeds niet uploaden en crashde Java steeds.<br/><br/>
      <img class="foto" src="../image/3B.jpg"><br/><br/>
      <b>Exercise 5C</b> - 5.js Exploration<br/><br/>
      <img class="foto" src="../image/5C.jpg"><br/><br/>
      <b>Exercise 5E</b> - Computer vision<br/><br/>
      <img class="foto" src="../image/5E.jpg">
      <img class="foto" src="../image/5F.jpg">
      <img class="foto" src="../image/5G.jpg">


      </p>
      
     </div>

     <script>
      var acc = document.getElementsByClassName("accordion");
      var i;

      for (i = 0; i < acc.length; i++) {
         acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
       var panel = this.nextElementSibling;
         if (panel.style.display === "block") {
           panel.style.display = "none";
          } else {
         panel.style.display = "block";
        }
       });
      }
     </script>

    
    </div>
 
   </div>

  </body>
 </html>